.navbar {
    display: flex;
    align-items: center;
    padding: 15px 5%;
    background-color: #556b2f;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    height: 100%;
    width: auto;
    border-radius: 5px;
    margin-right: 20px;
}

.brand-text {
    color: white;
    font-family: 'Segoe UI', 'Segoe UI', Tahoma, Verdana, sans-serif;
}

.name { 
    font-weight: bold;
    font-size: 1.2rem;
}

.dev{
    font-weight: 300;
    opacity: 0.8;
}

body {
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    align-items: center;
    background-color:#556b2f;
    padding: 10px 20px;
    height: 80px;
}

header div {
    color: white;
    font-family: sans-serif;
}

header img{
    height: 100%;
    width: auto;
    border-radius: 5px;
    margin-right: 15px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 50px 20px;
}

.boas-vindas h1 {
    color: #556b2f;
    font-size: 2.5rem;
    margin-bottom: 10px;
}

.boas-vindas p {
    color: #666;
    font-size: 1.1rem;
}

.contador-box {
    margin-top: 40px;
    padding: 30px;
    border-radius: 20px;
    background-color: #e9c77e;
    box-shadow: 0 4px 15px rgba(0,0,0,0.05);
    width: 300px;
}

.btn-principal {
    background-color: #556b2f;
    color: white;
    border: none;
    padding: 12px 25px;
    border-radius: 25px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

.btn-principal:hover {
    background-color: #3e4d22;

}

